
Welcome to my webtech2 project! In order to proceed please type your nickname below.
<form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputNick" class="sr-only">Email address</label>
       <input name="nick" [(ngModel)] = "user.username" type="text" id="inputNick" class="form-control" placeholder="Nickname" required autofocus>
       <div class="checkbox">
       </div>
   <button class="btn btn-lg btn-primary btn-block" (click)="validateLogin()" type="button">Proceed</button>
</form>