<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100%" height="500px" alt="Angular Logo" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9f16ac37634697.5746e357c4850.jpg">
</div>

<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/add">AddItem</a>
      <a class="nav-item nav-link" routerLink="/list">ListItem</a>
  </div>
</nav>
<router-outlet></router-outlet>