<h2>Page to add new items to our db</h2>

<form class="example-form">
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>ItemName</mat-label>
        <textarea matInput placeholder="Butter"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Item Price</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Expiration Date</mat-label>
        <textarea matInput placeholder="2020.05.04."></textarea>
      </mat-form-field>
    </p>

    <button mat-raised-button color="primary">Save Item</button>
  </form>
  