<h2>Page to add new items to our db</h2>

<form  class="example-form">
  
    <p>
      <mat-form-field class="form-element">
        <mat-label>ItemName</mat-label>
        <input type="text" name="name" matInput [(ngModel)]="newItem.name"  placeholder="Butter">
        <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-element">
        <mat-label>Item Price</mat-label>
        <input type="number" name="price" matInput [(ngModel)]="newItem.price" >
            </mat-form-field>
          </p>
          <p>
      <mat-form-field class="form-element">
        <mat-label>Expiration Date</mat-label>
        <input type="date" matInput name="expiration" [(ngModel)]="newItem.expiration"  placeholder="2020.05.04.">
      </mat-form-field>
    </p>

    <button mat-raised-button type="button" (click)="postItem(newItem)" color="primary">Save Item</button>
   

  </form>

  

  <mat-list>The item being added is:
    <mat-list-item> Name: {{newItem.name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Price: {{newItem.price}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Expiration: {{newItem.expiration}}</mat-list-item>
  </mat-list>
  