<h2>This is the page where we list our items</h2>

<!---
<ul class="items" *ngFor="let item of items">
    <li *ngFor="let item of item">
        <span>{{item}}</span> 
    </li>
</ul>
-->

<table mat-table [dataSource]="items" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let items"> {{items.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let items"> {{items.price}} </td>
      </ng-container>

      <ng-container matColumnDef="expiration">
        <th mat-header-cell *matHeaderCellDef> Expiration </th>
        <td mat-cell *matCellDef="let items"> {{items.expiration}} </td>
      </ng-container>
      
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let items">
            <button mat-button (click)="openDialog(items)">update</button>
               <!-- <button (click)="updateItem(items)" mat-stroked-button>Update</button>-->
              
        </td>
    </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let items">
            <button (click)="deleteItem(items)" mat-mini-fab color="accent" >
              </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

